* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: white;
}

li {
    display: inline-block;
    padding: 20px;
}

h4 {
    display: inline-block;
    line-height: 100px;
    margin-left: 30px;
    font-size: 30px;
}

header ul {
    display: inline-block;
    margin-left: 350px;
}

#resad {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTucFuN0-m8mH-Y2iQNYBjJOU4CoMSPfN4oeg&usqp=CAU");
    height: 700px;
    width: 1450px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#dagli {
    padding-top: 150px;
    width: 700px;
    height: 100%;
    text-align: center;
    margin: 0 auto;

}

h3 {
    color: black;
    font-size: 30px;
}

p {
    color: black;
    font-size: 25px;
}

button {
    color: aqua;
    width: 90px;
    height: 50px;
    border-radius: 30px;
}

#vuqar {
    padding-top: 150px;
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    text-align: left;
    
}

/* h3 {
    margin-right: 780px;
} */
#bileceri{
    padding-top: 150px;
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    text-align: left;
}
#bileceri{
    text-align: center;
}
#vuqar p {
   text-align: center;
}

#vuqar li {
    display: inline-block;
    text-align: center;
}

#vuqar ul {
  text-align: center;
}
#bileceri p{
   text-align: center;
}
#bileceri li{
    display: inline-block;
   text-align: center;
}
#meyxane{
    padding-top: 150px;
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    text-align: left;
}
#meyxane h3{
    margin-left: 800px;
}
#bileceri p{
    margin-left:800px ;
}
#bileceri li{
    margin-left: 800px;
}
#bileceri ul{
    margin-left: 800px;
}